.modal{
    position: absolute;
}
.modal-containt{
    position: fixed;
    bottom: -400px;
    width: 100%;
    height: calc(40vh - env(safe-area-inset-bottom));
    z-index: 2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: all .5s;
}
.login-register{
    height: 100%;
}
.close-button{
    align-self: flex-end;
    margin-right: 20px;
    color: red;
    font-size: 20px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.form-group{
    width: 100%;
}
.form-control{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px gray;
    padding-left: 25px;
    font-size: 15px;
}
.login-register-button{
    padding: 15px;
    width: 50%;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 10px gray;
    font-size: 15px;
    font-weight: bold;
}
.show-modal .modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.show-modal .modal-containt{
    background-color: rgb(239, 239, 202);
    box-shadow: 0 0 10px gray;
    bottom: 0;
}
.show-modal .parent{
    background-color: rgba(137, 137, 137, 0.643);
    width: 100vw;
    height: 100vh;
}
.error-message{
  color: red;
} 

/* PARTIE REGISTER */

.register {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .register-containt {
    position: fixed;
    width: 100%;
    height: calc(100% - env(safe-area-inset-bottom));
    z-index: 2;
    transition: all 0.5s;
  }
  
  .register-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }
  
  .close-button {
    align-self: flex-end;
    margin-right: 20px;
    color: red;
    font-size: 20px;
  }
  
  .form-group-register {
    width: 100%;
  }
  
  .form-control-register {
    width: 80vw;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px gray;
    padding-left: 25px;
  }
  
  .register-button {
    padding: 20px;
    width: 90%;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 10px gray;
    font-size: 20px;
    color: rgb(190, 114, 114);
    font-weight: bold;
  }
  
  .show-register .register-containt {
    background-color: rgb(239, 239, 202);
    box-shadow: 0 0 10px gray;
    bottom: 0;
  }

  .register-forms {
    width: 100%;
    height: calc(75vh - env(safe-area-inset-bottom));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .title-register {
    margin: 0;
    padding: 0;
    color: rgb(190, 114, 114);
    box-shadow: 0 0 10px rgb(190, 114, 114);
    border-radius: 15px;
    padding: 15px;
    background-color: rgba(251, 251, 236, 0.754);
  }
  
