.container-start{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start{
    padding: 20px 80px;
    border-radius: 20px;
    border: none;
    font-size: 30px;
}
.container-question{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.container-question ul{
    list-style: none;
}
.container-question .timer{
    color: white;
    padding: 20px;
    width: 70px;
    font-size: 60px;
    font-weight: bold;
    width: 100px;
}
.container-question .question{
    background-color: #E8E8E8;
    border: 1px solid white;
    color: #6C001B;
    font-weight: bold;
    width: 428px;
    height: 120px;
    padding: 30px 20px;
    margin-bottom: 50px;
}
.container-question ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.container-question li, .bouton-bonne-reponse{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 1px solid white;
    width: 380px;
    padding: 20px;
    color: white;
}
.container-bonne-reponse{
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.note{
    background-color: white;
    padding: 10px;
    color: black;
    width: 200px;
    font-size: 30px;
}
.text-bonne-reponse{
    font-size: 30px;
    letter-spacing: 1px;
}
.bouton-bonne-reponse a{
    text-decoration: none;
    color: white;
    padding: 20px 162px;
    margin-left: -19px;
    border-radius: 20px;
}
.container-bonne-reponse .question{
    background-color: #E8E8E8;
    border: 1px solid white;
    color: #6C001B;
    font-weight: bold;
    width: 428px;
    height: 120px;
    padding: 30px 20px;
}
.reponse-correct{
    font-size: 30px;
}