*{
    box-sizing: border-box;
}
.App{
    text-align: center;
}
html, body, #root, #App, #App>div {
    height: calc(100vh - env(safe-area-inset-bottom));
    width: 100vw;
    background-color: beige;
  }  